/* Global */
:root{
  --color-main: #fff;
  --bg-main: linear-gradient(#8779a4, #9e6b8b);
  --size-small:10px;
  --size-Medium:20px;
  --size-large:30px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tajawal", sans-serif;

}
html{
  background: var(--bg-main);
  height: 120vh;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Header */

header{
  background: transparent;
}

/* -- Header -- */

/* Section */
.Home{
  margin-bottom: 200px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: var(--size-Medium) calc(var(--size-large) + 10px);
  /* background: var(--bg-main); */
}



.Home .img{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .img img {
  width: 80%;
  height: 100%;
  margin-bottom: calc(var(--size-small) * 7) ;
}

.text-Home{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-Home h1{
  width: 100%;
  font-size: calc(var(--size-large) + 10px);
  color: var(--color-main);
  text-align: center;
}

.text-Home a {
  width: 250px;
  background: var(--color-main);
  color: #8779a4;
  margin-top: var(--size-large);
  padding: var(--size-small) calc(var(--size-large) + 10px);
  border-radius: var(--size-Medium);
  font-size: var(--size-Medium);
  font-weight: 700;
  text-align: center;
  transition: 0.5s;
}

.text-Home a:hover{
  background:  rgba(225 225 225 );
}

/* -- Section -- */

/* response */
@media (max-width:750px) {

  body{
    overflow: auto;
  }
  
  .Home{
    flex-direction: column;
    width: 100%;
    padding: 0px var(--size-large);
  }


  .text-Home{
    width: 100%;
    text-align: left;
    margin-top: 0px;

  }

  .text-Home h1{
    width: 100%;
    text-align: center;
    font-size: var(--size-Medium);
  }

  .text-Home a {
    font-size: var(--size-small);
  }

  .Home .img{
    width: 100%;
    height: 50%;
  }

  .Home .img img{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
}

/* -- response -- */



